*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo


.DS_Store
.bin
.metadata
*.class
/tp/JEE/HelloWeb/nbproject/private/
/tp/JEE/HelloWeb/build/
/tp/JEE/HelloWeb/dist/
/tp/JEE/NewsApp/nbproject/private/
/tp/JEE/NewsApp/NewsApp-war/nbproject/private/
/tp/JEE/NewsApp/NewsApp-ejb/nbproject/private/
/tp/JEE/NewsApp/NewsApp-ejb/build/
/tp/JEE/NewsApp/NewsApp-ejb/dist/
/tp/JEE/NewsApp/NewsApp-war/build/
/tp/JEE/NewsApp/build/
/tp/JEE/NewsApp/NewsApp-war/dist/
/tp/JEE/NewsApp/dist/
/tp/JEE/Librairie/nbproject/private/
/tp/JEE/Librairie/Librairie-war/nbproject/private/
/tp/JEE/Librairie/Librairie-ejb/nbproject/private/
/tp/JEE/Librairie/Librairie-ejb/build/
/tp/JEE/Librairie/Librairie-war/build/
/tp/JEE/Librairie/Librairie-ejb/dist/
/tp/JEE/Librairie/build/
/tp/JEE/Librairie/Librairie-war/dist/
/tp/JEE/Library/nbproject/private/
/tp/JEE/Library/Library-war/nbproject/private/
/tp/JEE/Library/Library-ejb/nbproject/private/
/tp/JEE/Library/Library-war/build/
/tp/JEE/Library/Library-ejb/dist/
/tp/JEE/Library/Library-ejb/build/
/tp/JEE/Library/build/
/tp/JEE/Library/Library-war/dist/
/tp/JEE/Library/dist/
/tp/JEE/AffableBean_snapshot5/nbproject/private/